* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outfit-semibold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


html, body {
    min-height: 100vh;
}

p, h1 {
    font-family: "Outfit", sans-serif;
    color: rgb(247, 247, 247);
}

h2 {
    font-family: "Outfit", sans-serif;
    color: rgb(247, 247, 247);
    font-size: 40px;
}

body {
    background: #320970;
    background: linear-gradient(337deg,rgba(50, 9, 112, 1) 38%, rgba(18, 18, 18, 1) 71%);
}

a {
    font-family: "Outfit", sans-serif;
    color: rgb(247, 247, 247);
    text-decoration: none;
}

nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 16px;
}

.topnavPages{
    font-size: 25px;
    display: flex;
    gap: 40px;
    font-size: 25px;
}

.texto p {
    font-size: 32px;
    width: 512px;
}

.texto h1 {
    font-size: 75px;
    width: 515px;
}

.imagem img {
    width: 550px;
    padding: 10px;
}

.paginicial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 70px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.buttons a {
    font-size: 35px;
}

.saibaMais, .verBuilds {
    padding: 14px 40px;
    border-radius: 14px;
}

.saibaMais {
    background-color: rgb(126, 172, 150);
}

.verBuilds {
    background-color: blueviolet;
}

.textinho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 120px;
}

.textinho p {
    width: 1168px;
    font-size: 32px;
    word-spacing: 0.2em;
    line-height: 1.3;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 50px;
    border-radius: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(27, 18, 39);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.sobreFooter {
    width: 400px;
    padding: 30px;
}

.sobreFooter h3 {
    font-family: "Outfit", sans-serif;
    color: rgb(247, 247, 247);
}

.textoPesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.textoPesquisa p {
    width: 150vh;
    font-size: 32px;
    word-spacing: 0.2em;
    line-height: 1.3;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 50px;
    border-radius: 30px;
}

.boxRosa, .boxVerde {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.boxRosa p, .boxVerde p{
    width: 110vh;
    font-size: 26px;
}

.boxRosa h2, .boxVerde h2{
    font-family: "Outfit", sans-serif;
    color: rgb(247, 247, 247);
    font-size: 30px;
}

.boxRosa img, .boxVerde img {
    width: 400px;
    border-radius: 20px;
}

.textoBoxRosa, .textoBoxVerde {
    padding: 50px;
}

.formularioLogin {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.formularioLogin form {
    display: flex;
    flex-direction: column;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 50px;
    border-radius: 20px;
}

input, textarea {
    border: none;
    border-radius: 14px;
}

.formularioLogin form label {
    font-family: "Outfit", sans-serif;
    color: rgb(247, 247, 247);
    font-size: 24px;
}

.formularioLogin form input {
    font-family: "Outfit", sans-serif;
    color: rgb(247, 247, 247);
    font-size: 24px;
    padding: 10px;
}

.campos {
    background-color: rgba(0, 0, 0, 0.39);
}

.finalizarCadastro {
    background-color: blueviolet;
    cursor: pointer;
}

.confirmacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px;
}

.confirmacao p {
    width: 100vh;
    font-size: 27px;
    text-align: center;
}

.voltar {
    display: flex;
    justify-content: center;
}

.voltar a {
    background-color: blueviolet;
    padding: 20px;
    font-size: 30px;
    border-radius: 16px;
}